* {
    box-sizing: border-box;
}

body, html {
    font-family: "Fira Code", monospace;
    font-size: 16px;
    /* margin: 0.5rem 0.5rem; */
    padding: 0;
    background-color: #282C33;
    color: #ABB2BF;
    letter-spacing: 0.05rem;
    margin: 0;
}

a {
    color: #3AB8B6;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

a:hover {
    color: #C778DD;
}

.button {
    display: inline-block;
    border: 1px solid #3AB8B6;
    padding: 0.5rem 1rem;
    font-weight: 700;
    margin-top: 2rem;
    transition: background-color 0.3s ease-in-out;
}

.button:hover {
    background-color: #91919147; /* border color for button on hover */
}

/* NAV BAR  */

.main-nav {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0.5rem 1rem;
    width: 100%;
    background-color: #282C33;
    z-index: 1;
}

.main-nav nav ul {
    display: flex;
    list-style-type: none;
    gap: 2rem;
    padding: 0;
    margin: 0;
}

.main-nav nav {
    transition: none;
    transform: translateY(0);
    opacity: 1;
}

.mobile-nav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #282C33;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mobile-nav-links {
    padding: 0.5rem 0rem 0.5rem 2rem;
    text-decoration: none;
    font-size: 1rem;
    display: flex;
    transition: 0.3s;
    flex-direction: column;
    gap: 1rem;
}

.mobile-media-logos {
    display: flex;
    flex-direction: column;
    padding: 0;
    padding: 0.5rem 0rem 0.5rem 2rem;
    gap: 1rem;
    padding-bottom: 2rem;
}

.mobile-media-logo {
    width: 1.3rem;
    height: 1.3rem;
}

.mobile-nav .close-btn {
    position: absolute;
    top: 0;
    right: 1.5rem;
    font-size: 2rem;
}

.burger-icon {
    display: none;
    cursor: pointer;
}

.burger-icon img {
    width: 25px;
    height: auto;
}

#logo {
    width: 3.25rem;
    height: 3rem;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    } 
}

.fade-down {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInDown 0.5s ease forwards;
}

@media only screen and (max-width: 1024px) {

    
}

@media only screen and (min-width: 768px) {
    .mobile-nav {
        display: none;
    }
}


@media only screen and (max-width: 425px) {
    .main-nav {
        display: none;
    }

    .burger-icon {
        display: block;  
        position: fixed; 
        top: 1%;        
        left: 3%;  
    }

}

@media only screen and (max-width: 320px) {
    .burger-icon img {
        width: 20px;
        height: auto;
    }
}


/* MEDIA SIDEBAR  */

.media-sidebar {
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    bottom: 0rem;
    gap: 0.9rem;
    padding-left: 1.3rem;
}

.media-logos {
    width: 1.625rem;
    height: 1.625rem;
}

.media-line {
    width: 0.06rem;
    height: 20vh;
    background-color: #3AB8B6;
    display: block;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(80px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    } 
}

.fade-up {
    opacity: 0;
    animation: fadeInUp 1s forwards;
}

@media only screen and (max-width: 425px) {
    .media-sidebar {
        display: none;
    }
}

/* CONTENT  */

.content {
    margin: 0 10rem;
    display: flex;
    flex-direction: column;     
    justify-content: center;
    align-items: center;
}

.fade-in {
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% {opacity: 1; }
}

.h2 {
    font-size: 1.8rem;
    position: relative;
    float: none;
    clear: both;
    display: inline-block;
}

.h2::after {
    content: "";
    display: block;
    width: 10rem;
    height: 0.06rem;
    background-color: #3AB8B6;
    position: absolute;
    transform: translate(100%, -50%);
    right: -0.5rem;
    top: 50%;
}

section {
    width: 49.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 100%; */
    align-content: center;
    flex-wrap: wrap;
}

@media only screen and (max-width: 1024px) {

    .content {
        margin: 0 8rem;
    }

    section {
        width: 35rem;
    }
    
}

@media only screen and (max-width: 768px) {
    .content {
        margin: 0 5rem;
    }

    section {
        width: 30rem;
    }
}

@media only screen and (max-width: 425px) {
    .content {
        margin: 0 3rem;
    }

    section {
        width: 20rem;
    }

    .h2 {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 320px) {
    .content {
        margin: 0 1.5rem;
    }

    section {
        width: 15rem;
    }

    .h2::after {
        width: 5rem;
    }
}



.hero {
    height: 50rem;
    padding-top: 5rem;
}

.about-me {
    padding-bottom: 10rem;
}

.projects {
    padding-bottom: 10rem;
}

.contact {
    padding-bottom: 30rem;
}

.about-me-page {
    height: 80vh;
}

.skills {
    padding-bottom: 30vh;
}


.fade {
    opacity: 0;
    transform: translate(0, 10vh);
    transition: all 2.5s;
}

.fade.visible {
    opacity: 1;
    transform: translate(0, 0);
}

@media only screen and (max-width: 425px) {
    .hero {
        height: 40rem;
        padding-top: 5rem;
    }

    .about-me {
        padding-top: 6rem;
    }
}

/* HERO  */

h1 {
    font-size: 4.4rem;
    margin: 0.2rem 0;
    color: #FFF
}

.hero-title {
    font-size: 2rem;
    font-weight: 700;
    color: #FFF;
    padding-bottom: 1rem;
}

.hero-title span {
    color: #3AB8B6;
}

.hero-title {
    width: 43rem;
}

@media only screen and (max-width: 1024px) {
    /* h1 {
        font-size: 2.5rem;
    } */

    .hero-content {
        width: 100%;
    }

    .hero-title {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    .hero-content, .hero-title {
        width: 100%;
    }

    .hero-title {
        font-size: 1.5rem;
    }
}


/* ABOUT ME  */

.about-me-content, .about-me-page-content {
    display: flex;
}

.about-me-img {
    height: 13.8rem;
    width: 13.8rem;
}

.about-me-page p {
    padding-left: 1rem;
}

@media only screen and (max-width: 768px) {
    .about-me-img {
        display: none;
    }
}

/* SKILLS  */

.skills-content {
    display: flex;
    gap: 1.8rem;
    align-items: flex-start;
}

.skill-block {
    border: 1px solid #3AB8B6;
    display: flex;
    flex-direction: column;
    max-width: 11rem;
    min-width: 200px;
}

.skill-block-name {
    padding: 8px;
    border-bottom: 1px solid #3AB8B6;
}

.skill-block-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0 0.5rem;
}

.skill-block-skill {
    list-style: none;
    margin: 0;
}

/* PROJECTS  */

.projects-content {
    /* padding-top: 2rem; */
    display: flex;
    /* gap: 1.8rem; */
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
    /* align-items: flex-start; */
    flex-wrap: wrap;
}

.project-block {
    border: 1px solid #3AB8B6;
    display: flex;
    /* flex-direction: column; */
    width: 15rem;
    /* min-height: 15.8rem; */
}

.project {
    margin: 1.3rem;
}

.project h3 {
    font-size: 1rem;
}

.project-top {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 0.8rem;
}

.project-top img {
    width: 1.8rem;
    height: 1.8rem;
}

.links {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.github-link-projects {
    width: 1.3rem;
    height: 1.3rem;
    background-image: url(./images/github.png);
    background-size: cover;
    transition: background-image 0.3s ease-in-out;
}

.github-link-projects:hover {
    background-image: url(./images/github-hover.png);
    cursor: pointer;
}

.link {
    width: 1.3rem;
    height: 1.3rem;
    background-image: url(./images/link.png);
    background-size: cover;
    transition: background-image 0.3s ease-in-out;
}

.link:hover {
    background-image: url(./images/link-hover.png);
    cursor: pointer;
}

.projects-view-more {
    padding-top: 1.8rem;
    text-align: end;
}

@media only screen and (max-width: 1024px) {
    .hide {
        display: none;
    }

    .projects-content {
        justify-content: space-around;
    }
}

@media only screen and (max-width: 768px) {
    .hide {
        display: none;
    }

    .projects-content {
        gap: 1rem;
    }

    .project-block {
        width: 100%;
    }
}



/* CONTACT  */

.contact {
    padding-bottom: 8rem;
}



footer {
    text-align: center;
    font-size: 12px;
}

@media only screen and (max-width: 425px) {
    footer {
        margin: 0 3rem;
    }
}